<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<% if params[:employee_id]!=nil then %>
	<div class="field">
    <%= f.label "Pracownik:" + Employee.find(params[:employee_id]).name %><br />
  </div>
  <div class="field">
    <%= f.label "Data:" %><br />
    <%= f.date_select :date, discard_day: :true %>
  </div>
	<div class="field">
    <%= f.hidden_field :employee_id %>
  </div>
	<div class="field">
    <%= f.select "project_id", Project.all.collect {|p| [p.name, p.id]}, {:prompt => 'Nazwa projektu'} %>
  </div>
	<div class="field">
    <%= f.label "Pracochłonność:" %><br />
    <%= f.number_field :ManHour %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
	<% end %>
	<% if params[:project_id]!=nil then %>
	<div class="field">
    <%= f.select "employee_id", Employee.all.collect {|e| [e.name, e.id]}, {:prompt => 'Wykonawca'} %>
  </div>
  <div class="field">
    <%= f.label "Data:" %><br />
    <%= f.date_select :date, discard_day: :true %>
  </div>
	<div class="field">
    <%= f.hidden_field :employee_id %>
  </div>
	<div class="field">
    <%= f.label "Projekt:", Project.find(params[:project_id]).name %>
  </div>
	<div class="field">
    <%= f.label "Pracochłonność:" %><br />
    <%= f.number_field :ManHour %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
	<% end %>
<% end %>
