<p id="notice"><%= notice %></p>

<p>
  <b>Nazwa:</b>
  <%= @project.name %>
</p>

<p>
  <b>Numer:</b>
  <%= @project.number %>
</p>


<%= link_to 'Edycja', edit_project_path(@project) %> |
<%= link_to 'Cofnij', projects_path %>
