<form name='dateform' action='monthly'>
<h1>Zestawienie miesięczne 
<%= select_date @mydate, {:discard_day => true }, :onchange => "this.form.submit()" %>
</h1>
</form>

<form name='departmentform' action='monthly'>
<h1>Dział: <%= select_tag "dep", options_from_collection_for_select(Department.all,"id","name", @dep), :onchange => "this.form.submit()" %> 
</h1></form>

<table border="1" class="outertable">
	<tr>
		<th>nazwa</th>
		<th>numer</th>
		<th colspan="3">zadania</th>
	</tr>
<% @DepartmentSum = 0 %>
<% @employees.each do |employee| %>
<% @asgnmts = employee.assignments.find(:all, :conditions => ["DATE(date) = ?", @mydate]) %>
	<tr>
		<%= content_tag :th, employee.name, :rowspan => @asgnmts.count+3 %>
		<%= content_tag :th, employee.number, :rowspan => @asgnmts.count+3 %>
		<th>nazwa</th>
		<th>pracochłonność</th>
		<th></th>
	</tr>
<% @EmployeeSum = 0 %>
<% @asgnmts.each do |asgn| %>
	<tr>
		<td><%= Project.find(asgn.project_id).name %></td>
		<td><%= asgn.ManHour %></td>
		<td><%= link_to 'Zmień', edit_assignment_path(asgn, :employee_id => employee.id) %></td>
	</tr>
<% @EmployeeSum += asgn.ManHour.to_i %>
<% end %>
	<tr>
		<th>Suma:</th>
		<th><%= @EmployeeSum %></th>
		<th></th>
	</tr>
	<tr>
		<th colspan="3"><%= link_to 'dodaj zadanie', new_assignment_path(:employee_id => employee.id) %></th>
	</tr>
<% @DepartmentSum += @EmployeeSum %>
<% end %>
	<tr>
		<th colspan="2">Suma dla całego działu:</th>
		<th colspan="3"><%= @DepartmentSum %></th>
	</tr>
</table>
<br />
