<table border="1" class="outertable">
	<tr>
		<th>data</th>
		<th>dd-mm-rrrr</th>
		<th colspan="3">Rozliczenie godzin przepracowanych przez pracowników działu</th>
		<th rowspan="6">strona/stron</th>
	</tr>
	<tr>
		<th rowspan="5">dział</th>
		<th rowspan="5"><form name='departmentanddateform' action='monthlyProjects'><%= select_tag "dep", options_from_collection_for_select(Department.all,"id","name", @dep), :onchange => "this.form.submit()" %></th>
		<th colspan="2">Za miesiąc</th>
		<th><%= select_date @mydate, {:discard_day => true }, :onchange => "this.form.submit()" %></form></th>
	</tr>
	<tr>
		<th>1</th>
		<th>Liczba pracowników</th>
		<th><%= @employees.count %></th>
	</tr>
	<tr>
		<th>2</th>
		<th>Nominalny czas pracy pracownika</th>
		<th><%= @nominalemplworktime %></th>
	</tr>
	<tr>
		<th>3</th>
		<th>Nominalny czas pracy działu</th>
		<th><%= @nominaldeptworktime %></th>
	</tr>
	<tr>
		<th>4</th>
		<th>Rzeczywisty czas pracy działu</th>
		<th><%= @realdepworktime %></th>
	</tr>
	<tr>
		<th>l.p.</th>
		<th>Temat</th>
		<th>Numer zlecenia</th>
		<th>Wykonawca</th>
		<th>Pracochłonność<br> w godz.</th>
		<th></th>
	</tr>
<% @DepartmentSum = 0 %>
<% @lp = 0 %>
<% logger.debug "Tu jestem #{@projects.inspect}" %>
<% @projects.each do |project| %>
<% @asgnmts = project.assignments.find(:all, :conditions => ["DATE(date) = ?", @mydate]) %>
<% @lp += 1 %>
	<tr>
		<%= content_tag :th, @lp, :rowspan => @asgnmts.count+3 %>
		<%= content_tag :th, project.name, :rowspan => @asgnmts.count+3 %>
		<%= content_tag :th, project.number, :rowspan => @asgnmts.count+3 %>
		<th></th>
		<th></th>
		<th></th>
	</tr>
<% @EmployeeSum = 0 %>
<% @asgnmts.each do |asgn| %>
	<tr>
		<% if Employee.exists?(asgn.employee_id) then%>
		<td><%= Employee.find(asgn.employee_id).name %></td>
		<% else %>
		<td>N/A</td>
		<% end %>
		<td><%= asgn.ManHour %></td>
		<td><%= link_to 'Zmień', edit_assignment_path(asgn, :project_id => project.id) %></td>
	</tr>
<% @EmployeeSum += asgn.ManHour.to_i %>
<% end %>
	<tr>
		<th>Suma:</th>
		<th><%= @EmployeeSum %></th>
		<th></th>
	</tr>
	<tr>
		<th colspan="3"><%= link_to 'dodaj wykonawcę', new_assignment_path(:project_id => project.id, :sender => "projects") %></th>
	</tr>
<% @DepartmentSum += @EmployeeSum %>
<% end %>
	<tr>
		<th></th>
		<th colspan="3">Suma dla całego działu:</th>
		<th colspan="2"><%= @DepartmentSum %></th>
	</tr>
</table>
<br />
