<form name='dateform' action='monthly'>
<h1>Zestawienie miesięczne 
<%= select_date @mydate, {:discard_day => true }, :onchange => "this.form.submit()" %>
</h1>
</form>

<h1>Dział: <%= Department.find(current_user.department_id).name %></h1>
<table border='0' class="outertable">
  <tr>
    <th>Nazwa <%= @zmienna %><%= @User %></th>
    <th>Numer</th>
    <th>Zadania</th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.name %></td>
    <td><%= employee.number %></td>
<td>
			<table border='0' class="innertable">
  			<tr>
    			<th>Nazwa</th>
    			<th>Pracochłonność</th>
					<th></th>
  			</tr>
				<% @suma = 0 %>
				<% employee.assignments.find(:all, :conditions => ["DATE(date) = ?", @mydate]).each do |asgn| %>
				<tr>
					<th><%= Project.find(asgn.project_id).name %></th>
					<th><%= asgn.ManHour %></th>
					<th><%= link_to 'Zmień', edit_assignment_path(asgn, :employee_id => employee.id) %></th>
				</tr>
				<% @suma += asgn.ManHour.to_i %>
				<% end %>
				<tr>
					<th></th>
					<th><%= @suma %></th>
					<th></th>
				</tr>
			</table>
		</td>
  </tr>
	<tr><th></th><th></th><th><%= link_to 'dodaj zadanie', new_assignment_path(:employee_id => employee.id) %></th></tr>
<% end %>
</table>
<br />
